@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Project
<h1>Project Detailes :</h1>
<br />

<h4> name: @Model.Name</h4>
<br />
<h4> name: @Model.Location</h4>
<br />
<h4> name: @Model.DeptNum</h4>

<a asp-action="Index" asp-controller="Project">Go Back</a>
