@model Project


<form asp-action="Edit" asp-controller="Project" method="post">
    <input asp-for="Number" hidden/> 

    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <label asp-for="Location"></label>
    <input asp-for="Location" class="form-control" />
    <div>
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    @*<label asp-for="ConfirmLocation"></label>
    <input asp-for="ConfirmLocation" class="form-control" />
    <div>
        <span asp-validation-for="ConfirmLocation" class="text-danger"></span>
    </div>
*@
    <label asp-for="DeptNum"></label>
    <select asp-for="DeptNum" asp-items="ViewBag.depts" class="form-control">
        <option value="">choose one</option>

    </select>
   @* <div>
        <span asp-validation-for="DeptNum" class="text-danger"></span>
    </div>
*@
    <input type="submit" value="Edit" class="btn-danger" />
</form>

@section Scripts{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
